.footer {
    background-color: #233142;
    padding: 40px 0;
    position: static;
    color: white;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
  }
  
  .footer-column {
    flex: 1;
    margin-bottom: 20px;
    padding-right: 20px;
  }
  
  .footer-column h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column p {
    color: white;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
    
    .footer-column {
      flex: none;
      width: 100%;
      padding-right: 0;
    }
  }
  